.link {
  line-height: $lineHeight;
  color: $textColor;
  text-decoration: none;
  transition: color $animate;
  &:hover {
    color: $accentHover;
  }
  &:active {
    color: $accentColor;
    text-decoration: underline;
  }
}